pnpm-lock.yaml
node_modules
packages/**/dist/** 
packages/**/tsconfig.tsbuildinfo
TODO.md
CLAUDE.md
manual-testing.md
**/**/**.mjs
examples/**/dist/**
examples/**/tsconfig.tsbuildinfo
.turbo/** 
examples/**/.turbo/**
packages/**/.turbo/**
.env